@import '../../index.css';


.home {
    display: flex;
    background-color: var(--color-primary);
    height: 90vh;

    .container {
        padding: 4rem 1rem;
    }


    .half-one {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to right, rgba(173, 129, 78, 0.913), rgba(179, 153, 129, 0.621)),
            url('../../../public/pic2.jpg') center/cover no-repeat;
        gap: 1.5rem;
        box-shadow: var(--shadow-lg);
        border-radius: var(--radius-lg);
        color: aliceblue;


        .main-header {
            letter-spacing: var(--letter-spacing-sm);
            font-size: 3rem;
            font-family: 'poppins', sans-serif;
            font-weight: 300;
            display: inline;
            border-bottom: 1px solid var(--color-primary-light);


        }

        ul {
            margin-top: 1rem;
            list-style-type: none;

        }

        li {
            margin-bottom: 0.5rem;
            font-weight: 400;
            font-size: 1rem;
            border-bottom: 1px solid var(--color-primary-light);


        }

    }

    .half-one,
    .half-two {
        flex: 1;
        height: 100%;

    }

    .half-two {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: var(--color-accent);
        background: linear-gradient(to right, rgba(62, 56, 45, 0.9), rgba(170, 138, 106, 0.137)),
            url('../../../public/pic4.jpg') center/cover no-repeat;

        h2 {
            color: var(--color-accent);
            letter-spacing: var(--letter-spacing-md);
            color: var(--color-primary-light);
            font-weight: 400;
            text-transform: capitalize;
            border-bottom: 1px solid var(--color-primary);

        }

        p {
            color: var(--color-primary-light);
            line-height: 1.5;
            font-size: 1.4rem;
        }

        .pic {
            width: 50%;
            border-radius: var(--radius-md);
            box-shadow: var(--shadow-md);
        }
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;

    }
}